<div class="row">
  <% if user_signed_in? %>
  <section class="content col-2 ">
    <nav class="side_nav">
      <div id="cart" class="carts">
        <%= render "users/profile" %>
      </div>

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/questions">Questions</a></li>
        <li><a href="/news">News</a></li>
        <li><%= link_to 'Profile', user_path(current_user.id), remote: true %></li>
        <li><%= Time.now %></li >
      </ul>
      <%= link_to "logout", destroy_user_session_path, class: "dropdown-item", method: :delete %>
    </nav>

  </section>
  <div class="col-10  flex-nowrap">
    <%= render "opinions/navbar" %>
    <div class="row  ml-0">
      <div class="col-8">
        <div>
          <%= render "opinions/tab_nav" %>
        </div>

      </div>
      <div class="col-4 ">




        <div id="user" class="users">
          <%  @user %>
        </div>


      </div>
    </div>
  </div>
  <% end %>
</div>









