
<div class="container">

  <% @opinions.each do | opinion | %>
    <%= link_to  opinion.user.name, user_path(opinion.user.id), remote: true%>

    <%= opinion.body %>
    <%= opinion.created_at.strftime('%A, %B %e,%Y') %>
    <tr>
      <td><%= link_to 'Show', opinion %></td>
      <td><%= link_to 'Edit', edit_opinion_path(opinion) %></td>
      <td><%= link_to 'Destroy', opinion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

</div>