<div class="container pt-3 pr-0">
  <div class="col-12 row align-items-baseline justify-content-center ">
    <div class="col-4  avatar">
      <%= current_avatar %>
    </div>
    <div class=" justify-content-center col-8 " style=" text-align: center">
      <h5 class="card-title text-white"><%= current_user.name %></h5>
      <p class="card-text text-white"><small class="text-muted"><%= "@#{current_user.username}" %></small></p>
    </div>
  </div>
  <hr>
  <div class="col-12 text-white row mt-5">
    <div class="col-6 ">
      <p>Following</p>
      <%= current_user.friends.count %>
    </div>
    <div class="col-6">
      <p>Followers</p>
      <%= current_user.inverse_followers.count %>
    </div>

  </div>
</div>
<hr>